.cadastro-container {
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro-container .appname {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro-container .appname h1 {
    font-size: 44px;
    color: #e02041;
    font-style: italic;
}

.cadastro-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cadastro-container .content section {
    width: 100%;
}

.cadastro-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.cadastro-container .content form {
    width: 100%;
}

.cadastro-container .content form input,
.cadastro-container .content form textarea {
    margin-top: 24px;
}

.botoes {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes .acao {
    height: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    padding: 0 24px;
    transition: 0.2s;
}

.botoes .acao:hover {
    background: #e02041;
    color: #FFF;
}